#landingPage{
	width: 100%;
}
.align-top{
	margin-top:63px;
}
#details{
	/*background-color: beige;*/
}
#rateSlider{
	width: 210px !important;
}
#details input{
	width: 255px;
}
#searchPanel{
	border-color: #CDD8CA !important;
}
.filter-panel{
	width: 255px;
    margin-top: 6px;
}
.book-button{
	float: right;
	margin-top:-50px;
}
.custom-border{
	border-color: #CDD8CA;
    border-style: solid;
    border-width: thin;
    padding: 12px;
}
#outer-nav{
	background-color: #15564D;
}
#navbar li.active a{
	background-color: #489086 !important;
}
#resultPanel{
	color: white !important;
    background-color: #16a9c7 !important;
}
#searchTitle{
	font-size: large;
}
#searchTitle div{
	float: right;
    font-size: small;
}
.one-way-flight{
	width:40%; float: left;
}
.return-flight{
	width: 40%; float: right;
}
#noSearch{
	background-color: coral;
    color: white;
    height: 41px;
    padding: 12px;
    font-size: large;
}
.pointer{
	cursor: pointer;
}