<!DOCTYPE html>
<html lang="en" ng-app='searchFlightApp'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>GetSetGo- Fly High</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/common.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>      
    <![endif]-->
  </head>
  <body ng-controller="mainController">
 <nav id="outer-nav" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">GetSetGo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active pointer"><a ng-click="switchPage(1,$event)">Home</a></li>
            <li class="pointer"><a ng-click="switchPage(0)">Search</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>    
    <div ng-show="isHome"><img id="landingPage" src="images/flight.jpg"></div>
    <div class="container align-top" ng-hide="isHome">    
    <div id="details" class="col-lg-3">
       <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active" ng-click="switchTravelType($event)"><a href="#">One Way</a></li>
        <li role="presentation" ng-click="switchTravelType($event)"><a href="#">Return</a></li>
      </ul>
      <div>
        <input type="text" class="form-control" placeholder="Enter Origin City" ng-model="source"></input>        
        <input type="text" class="form-control" placeholder="Enter Destination City" ng-model="destination"></input>
        <input type="text" class="form-control" onfocus="(this.type='date')" onmouseleave="(this.type='text')" placeholder="Departure Date" ng-model="depDate"></input>
        <input type="text" class="form-control" onfocus="(this.type='date')" onmouseleave="(this.type='text')" ng-hide="isOneWay" placeholder="Return Date" ng-model="retDate"></input>
        <input type="text" class="form-control" placeholder="Passengers"></input>
        <button type="button" class="btn btn-sm btn-primary" ng-click="search()">Search</button>
        <div class="panel panel-info filter-panel">
              <div class="panel-heading">
                <h3 id="searchTitle" class="panel-title">Refine Search</h3>
              </div>
              <div class="panel-body">
                <input id="rateSlider"  ng-model="rate" type="range" min="500" max="10000" step="100" value="500" />
                <div ng-bind="rate">500</div>                
              </div>
            </div>
        </div>    
      </div>  
     
    <div ng-show="hasResults" class="col-lg-9">
        <div id="searchPanel" class="panel panel-primary">
            <div id="resultPanel" class="panel-heading">
              <h3 id="searchTitle" ng-show="isOneWay" class="panel-title">{{src}} > {{dest}} <div>Depart: {{depDate}}</div></h3>
              <h3 id="searchTitle" ng-hide="isOneWay" class="panel-title">{{src}} > {{dest}} > {{src}} <div>Depart: {{depDate}}<br> Return: {{retDate}}</div></h3>
            </div>
            <div class="panel-body">
              <div >
              <div class="custom-border" ng-repeat="item in result | rate:this">
              <div class="one-way-flight">
              Rs. {{ isOneWay && item.flight.price || item.flight.price * 2}} <br>                            
              {{item.flight.flightNo}} <br>
              {{item.flight.srcCode}} > {{item.flight.destCode}} <br>
              Departs: {{item.flight.departure}} <br> 
              Arrives: {{item.flight.arrival}}
              </div>
              <div ng-hide="isOneWay" class="return-flight">
              <br>
              {{item.returnFlight.flightNo}} <br> 
              {{item.returnFlight.srcCode}} > {{item.returnFlight.destCode}} <br>
              Departs: {{item.returnFlight.departure}} <br> 
              Arrives: {{item.returnFlight.arrival}}</div>
              <br style="clear: both;">
               <button type="button" class="btn btn-lg btn-success book-button">Book</button></div>
            </div>
            </div>
          </div>
    </div>

    <h4 id="noSearch" ng-model="message" ng-hide="hasResults" class="col-lg-9" ng-bind="message"></h4>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/services.js" type="text/javascript"></script>
    <script src="js/filters.js" type="text/javascript"></script>
    <script src="js/controllers.js" type="text/javascript"></script>
  </body>
</html>